<h1>New</h1>

<form id='newEntry'>
    <label for='name'>Enter the burger's name: </label>
    <input name='name'>
    <button id='submitNew'>
        <i class='fas fa-fire'></i>
        MAKE THE BURGER
    </button>
</form>


<h1>Uneaten</h1>
<ul>
    {{#each uneaten}}
    <li>
        <p>{{this.burger_name}}</p>
        <form class='submit' data-bool='{{this.burger_name}}' >
        <button class='eat' type = 'submit' data-bool='{{this.burger_name}}'>
            <i class='fas fa-utensils'></i>
            EAT ME
        </button>
        </form>
    </li>
    {{/each}}
</ul>

<h1>Eaten</h1>
<ul>
    {{#each eaten}}
    <li>{{this.burger_name}}</li>
    {{/each}}
</ul>

<script>
   $('.submit').on('submit', function(){
       let bname = $(this).attr('data-bool');
       $.ajax(
           {
            url: '/api/burgers', 
            method: 'put',
            data: {burgerName : bname}
        }).done(function(msg){
            console.log('DATA SAVED: ' + msg);
        })
    });

    $('#newEntry').on('submit', function(event){
        $.post('/api/burgers', $('#newEntry').serialize(), function(data, status){
            console.log('DATA:', data, "STATUS:", status);
        }); 
    });
</script>